form{
    border: 1px solid black;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;

}
input[type='email']:invalid{
    border: 1px solid red;
}
input[type='email']:valid{
    border: 10px solid green;
}